In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as pyplot
%matplotlib inline

In [5]:
df = pd.read_csv('london_fire_brigade_service_calls.csv', index_col=0)
df.describe()

,cal_year,easting_m,easting_rounded,first_pump_arriving_attendance_time,hour_of_call,northing_m,northing_rounded,num_pumps_attending,num_stations_with_pumps_attending,second_pump_arriving_attendance_time
count,32247.0,16836.000000,32247.000000,30428.000000,32247.000000,16836.000000,32247.000000,32179.000000,32179.000000,11966.000000
mean,2017.0,530667.828582,530641.174373,318.230380,13.465222,180366.958363,180429.501969,1.536375,1.356537,399.082233
std,0.0,10436.093085,9855.434367,136.384571,6.152739,7534.304839,7446.092421,0.741248,0.611400,153.426914
min,2017.0,493654.000000,492450.000000,2.000000,0.000000,152868.000000,152850.000000,1.000000,1.000000,4.000000
25%,2017.0,525061.000000,525150.000000,232.000000,9.000000,175863.000000,175950.000000,1.000000,1.000000,299.000000
50%,2017.0,530716.000000,530850.000000,298.000000,14.000000,180962.000000,180950.000000,1.000000,1.000000,372.000000
75%,2017.0,536994.500000,536450.000000,379.000000,18.000000,185018.250000,185150.000000,2.000000,2.000000,464.000000
max,2017.0,560804.000000,563150.000000,1196.000000,23.000000,204891.000000,224250.000000,7.000000,6.000000,1195.000000

In [6]:
df.head()

,borough_code,borough_name,cal_year,date_of_call,easting_m,easting_rounded,first_pump_arriving_attendance_time,first_pump_arriving_deployed_from_station,frs,hour_of_call,...,property_type,second_pump_arriving_attendance_time,second_pump_arriving_deployed_from_station,special_service_type,stop_code_description,time_of_call,timestamp_of_call,ward_code,ward_name,ward_name_new
address_qualifier,,,,,,,,,,,,,,,,,,,,,
Within same building,E09000007,CAMDEN,2017,2017-01-20,529459.0,529450,359.0,Euston,London,8,...,Purpose built office,NaN,NaN,NaN,AFA,08:57:38,2017-01-20 08:57:38,E05000129,BLOOMSBURY,BLOOMSBURY
Within same building,E09000025,NEWHAM,2017,2017-04-21,NaN,539650,211.0,Stratford,London,17,...,Purpose Built Flats/Maisonettes - Up to 3 storeys,NaN,NaN,No action (not false alarm),Special Service,17:42:29,2017-04-21 17:42:29,E05000494,WEST HAM,WEST HAM
Correct incident location,E09000031,WALTHAM FOREST,2017,2017-01-20,536990.0,536950,NaN,NaN,London,18,...,Local Government Office,NaN,NaN,Lift Release,Special Service,18:21:32,2017-01-20 18:21:32,E05000608,WILLIAM MORRIS,WILLIAM MORRIS
Within same building,E09000009,EALING,2017,2017-03-07,516686.0,516650,295.0,Ealing,London,11,...,Underground car park,660.0,Southall,Hazardous Materials incident,Special Service,11:27:50,2017-03-07 11:27:50,E05000192,WALPOLE,WALPOLE
Correct incident location,E09000032,WANDSWORTH,2017,2017-02-04,524266.0,524250,533.0,Battersea,London,17,...,Pub/wine bar/bar,NaN,NaN,Medical Incident - Co-responder,Special Service,17:31:10,2017-02-04 17:31:10,E05000625,THAMESFIELD,THAMESFIELD

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 32247 entries, Within same building to Correct incident location
Data columns (total 37 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   borough_code                                32247 non-null  object
 1   borough_name                                32247 non-null  object
 2   cal_year                                    32247 non-null  int64
 3   date_of_call                                32247 non-null  object
 4   easting_m                                   16836 non-null  float64
 5   easting_rounded                             32247 non-null  int64
 6   first_pump_arriving_attendance_time         30428 non-null  float64
 7   first_pump_arriving_deployed_from_station   30428 non-null  object
 8   frs                                         32247 non-null  object
 9   hour_of_call                                32247 non-null  int64
 10  incident_group                              32247 non-null  object
 11  incident_number                             32247 non-null  object
 12  incident_station_ground                     32247 non-null  object
 13  northing_m                                  16836 non-null  float64
 14  northing_rounded                            32247 non-null  int64
 15  num_pumps_attending                         32179 non-null  float64
 16  num_stations_with_pumps_attending           32179 non-null  float64
 17  postcode_district                           32247 non-null  object
 18  postcode_full                               16836 non-null  object
 19  proper_case                                 32247 non-null  object
 20  property_category                           32247 non-null  object
 21  property_type                               32247 non-null  object
 22  second_pump_arriving_attendance_time        11966 non-null  float64
 23  second_pump_arriving_deployed_from_station  11966 non-null  object
 24  special_service_type                        10081 non-null  object
 25  stop_code_description                       32247 non-null  object
 26  time_of_call                                32247 non-null  object
 27  timestamp_of_call                           32247 non-null  object
 28  ward_code                                   32247 non-null  object
 29  ward_name                                   32247 non-null  object
 30  ward_name_new                               32247 non-null  object
 31  DateTime                                    32247 non-null  datetime64[ns]
 32  year                                        32247 non-null  int32
 33  month                                       32247 non-null  int32
 34  day                                         32247 non-null  int32
 35  weekday                                     32247 non-null  int32
 36  hour                                        32247 non-null  int32
dtypes: datetime64[ns](1), float64(6), int32(5), int64(4), object(21)
memory usage: 8.7+ MB

FEATURE ENGINEERING

1. Temporal feature extraction

In [7]:
df['DateTime'] = pd.to_datetime(df['date_of_call'] + ' ' + df['time_of_call'],
                                errors='coerce')
print(df[['date_of_call', 'time_of_call', 'DateTime']].head())

                          date_of_call time_of_call            DateTime
address_qualifier
Within same building        2017-01-20     08:57:38 2017-01-20 08:57:38
Within same building        2017-04-21     17:42:29 2017-04-21 17:42:29
Correct incident location   2017-01-20     18:21:32 2017-01-20 18:21:32
Within same building        2017-03-07     11:27:50 2017-03-07 11:27:50
Correct incident location   2017-02-04     17:31:10 2017-02-04 17:31:10

In [9]:
df['year'] = df['DateTime'].dt.year
df['month'] = df['DateTime'].dt.month
df['day'] = df['DateTime'].dt.day
df['weekday'] = df['DateTime'].dt.dayofweek #0() to 6()
df['hour'] = df['DateTime'].dt.hour